<h5 class="title-light title-mini-pelisup">PelisUp!</h5>
<div class="name">
    <h1 class="title-prin title-text">
        Series
    </h1>
</div>

<!-- BUSCADOR -->

<!-- CARDS -->
<!-- <h5 class="items-cantidad">120 items</h5> -->
<!-- <div class="container-cards d-flex flex-wrap justify-content-center">
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
<div> -->