<div class="container-login">
    <div class="img">
        <img class="login-img" src="assets/sally.png" alt="">
    </div>
    <form action="" class="login">
        <h2>Ingresar</h2>
        <div class="input-l">
            <input type="email" placeholder="Email">
        </div>
        <div class="input-l">
            <input type="password" placeholder="Contraseña">
        </div>
        <div class="login-button">
            <input type="submit" value="Ingresar">
        </div>
    </form>
</div>

